<html>
<head>
	<title>404</title>
	{{ assets_css "/static/css/style.css" }}
</head>
<body>
	{{template "header.tpl"}}
	<center>
	<br>
	<h1>( . •́ _ʖ •̀ .)	???</h1>
	<p>What you are looking for cannot be found.</p>
	<p>This could be because puppetdb is unreachable, or perhaps because what you are looking for does not exist.</p>
	<p><a href="/">Go Home?</a></p>
	</center>
</body>
</html>
