/* General styling for most pages */
.desc {
	width: 90%;
	margin: 0 auto;
}

.header {
	width:100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.main {
	margin: 0px auto;
}

.error {
	font-weight: bold;
	color: red;
}

a {
	color: #001999;
	text-decoration: none;
}

p {
	line-height:20px;
}

